<footer class="mt-auto text-white-50">
  <p>
    Checkout Healthy Bulker on
    <a
      href="https://www.youtube.com/channel/UCJDrvyMmBMCXsSnaKqeyPig"
      class="text-white"
      >Youtube</a
    >,
    <a href="https://www.instagram.com/healthybulker" class="text-white"
      >Instagram</a
    >.
  </p>
</footer>
