.bold-text {
  font-weight: bold;
  font-size: 18px;
  color: #0069d9;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

.service-option {
  font-size: 16px;
  margin-bottom: 10px;
}

.subsection-header {
  margin-top: 40px;
}

.img-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container a,
.img-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-right: 10px; /* Add margin between images */
  padding: 5px; /* Add padding around images */
}

/* Make images smaller on larger devices */
@media (min-width: 768px) {
  .img-container a,
  .img-container img {
    max-width: 45%;
  }
}

/* Custom spacing */
.section-spacing {
  margin-bottom: 40px;
}